<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: head">
</head>
<body ng-app="vms">

<!-- Begin page content -->
<div class="page-header">
    <h1 align="center">VMS Web App</h1>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="">Login</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" ng-controller="LoginController as loginCtrl"
                          ng-submit="loginCtrl.validateLogin()">

                        <div class="form-group">
                            <label for="emailField" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-9">

                                <input type="email" path="email" class="form-control" ng-model="loginCtrl.login.email"
                                       id="emailField" placeholder="Enter email"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="passwordField" class="col-sm-3 control-label">Password</label>

                            <div class="col-sm-9">
                                <input type="password" path="password" class="form-control"
                                       ng-model="loginCtrl.login.password"
                                       id="passwordField" placeholder="Enter password"/>

                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-primary btn-sm">Sign
                                    in
                                </button>
                                <button type="reset" class="btn btn-default btn-sm">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Not Registered? <a href="registerUser" class="">Register here</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="common :: footer"></div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>